body {
  background-color: rgb(49, 181, 230);
  transition: background-color 2s ease-in;
}
.search_bar{
  display: inline;
  text-align: center;


}

.table_and_header {
  position: absolute;
  width: 100%;
  top: 15%;
  right: 0.1%;

  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
    color: #000000;
    animation: 
    pulse 1s ease-in infinite alternate, 
    nudge 5s linear infinite alternate;
    border-radius: 100%;
  }
  table {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

td,
th {
  border: solid 1px black;
  background-color: #DCDCDC;
  transition: 0.2s;
}
td:hover {
  background-color: gray;
  color: white;
}

.search {
  text-align: center;
  font-size: 2rem;
}
